<section id='footer' class='bg-darkgrey'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-4'>
                <h3 class='text-yellow'>CONNECT WITH US</h3>
                <p class='text-white'>Sign up here to receive the latest updates from OneWatt via our newsletter.</p>

                <div id='signup'>
                    <input type='text' class='col-md-7 textform' placeholder="email address" />
                    <button class='ow-button button-yellow text-white col-md-5'>SIGN UP</button>
                </div>
            </div>
            <div class='col-md-2'>
                <ul id='links' class='plain-list'>
                    <li>
                        <h3 class='text-yellow'>EXPLORE</h3>
                    </li>
                    <li><a class='text-white' routerLink='/' [routerLinkActiveOptions]='{exact:true}'
                            routerLinkActive='active'>HOME</a></li>
                    <li><a class='text-white' routerLink='/about' routerLinkActive='active'>ABOUT</a></li>
                    <li><a class='text-white' routerLink='/services' routerLinkActive='active'>SERVICES</a></li>
                    <li><a class='text-white' routerLink='/posts' routerLinkActive='active'>BLOG</a></li>
                    <li><a class='text-white' routerLink='/contact' routerLinkActive='active'>CONTACT US</a></li>
                </ul>
            </div>
            <div class='col-md-6 text-white text-right'>
                <img id='sm-logo' src='assets/img/ow_logo_y.png' />
                <p>OneWatt Solutions BV is an undustrial AI company committed to provid eth best blah blah blah.
                    SOmething SOmething smething. Placeholder text.</p>
                <div>
                    <p>Westervoortsedijk 73-CB3 <br /> 6827AV Arnhem <br /> The Netherlands</p>
                </div>
                <div>
                    <p>Greenview Executive Village <br /> Sauyo, Quezon City 1116 <br /> Philippines</p>
                </div>
                <div>
                    <p>hi@onewatt.eu</p>
                </div>
            </div>
        </div>
    </div>

</section>
<div class='bg-black'>
    <div class='container d-flex justify-content-between align-items-center py-3'>
        <a class='text-yellow text-small' href='#'>Privacy Policy</a>
        <p class='text-white mb-0 text-small'>Copyright 2019 © OneWatt Solutions BV. All Rights Reserved.</p>
    </div>
</div>