@import "~swiper/swiper.scss";

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 357px;
    /* Center slide text vertically */

    background-color: #EEE;
}

#profile {
    width: 100%;
}

#descr {
    overflow-y: auto;

    div {
        overflow-y: auto;
    }
}

#slide {

    margin-right: 0;
    margin-left: 0;
    flex-wrap: initial;
}