<section class='bg-yellow'>
    <div class='container has-header'>
        <div class='row d-flex align-items-center'>
            <div class='col-md-7'>
                <p>OneWatt is a something Industrial assets are the prinary movers of the economy. These assets are
                    commonly mechanical equipment with moving parts such as motors, valves &amp; turbines.</p>
                <p><strong>Unfortunately these assets break</strong></p>
                <p>Mor etext describing OneWatt maybe short history or something. Dunno what yet later na.</p>
            </div>
            <div class='col-md-5'>
                <h1 class='text-white'>WE ARE</h1>
                <img id='logo-med' src='../assets/img/ow_logo.png' />
                <div class='ow-line bg-white left my-4'></div>
                <h3>We are committed to solving the problems of the industrial sector using aritifical intelligence
                    (A.I.).</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 pr-5'>
                <h4 class='text-yellow'>OUR MISSION</h4>
                <h1>MAKING SURE THINGS WORK THE WAY THEY SHOULD.</h1>
                <p>We believe the key for industrial companies to keep being competitive and achieving success in the
                    industrial world lies in applying AI to all aspects of operations. We believe the key for industrial companies to keep being competitive and achieving success in the
                    industrial world lies in applying AI to all aspects of operations. We believe the key for industrial companies to keep being competitive and achieving success in the
                    industrial world lies in applying AI to all aspects of operations.
                </p>

                <h1>WE LISTEN.</h1>
                <p>We believe the key for industrial companies to keep being competitive and achieving success in the
                    industrial world lies in applying AI to all aspects of operations. We believe the key for industrial companies to keep being competitive and achieving success in the
                    industrial world lies in applying AI to all aspects of operations. We believe the key for industrial companies to keep being competitive and achieving success in the
                    industrial world lies in applying AI to all aspects of operations.
                </p>

                <h3>Our goal is to provide quality accessible AI solutions that will become standard components of
                    industry processes.</h3>
            </div>
            <div class='col-md-4 bg-yellow'>

            </div>
        </div>
    </div>
</section>

<section>
    <div class='ow-line bg-yellow my-5 center'></div>
    <div class='container'>
        <h4 class='text-yellow'>YOUR TEAM</h4>
    </div>
</section>