<!-- HERO -->
<section>
    <div class='container has-header text-center'>
        <h1>YOUR MACHINES ARE COMPLAINING, DO YOU <span class='under-yellow'>HEADER</span> WHAT THEY'RE SAYING?</h1>
        <div class='ow-line bg-yellow center'></div>
        <h2>OneWatt Does.</h2>
        <p>OneWatt's Embedded Acoustic Recognition Sensors or E.A.R.S., combined with our A.I. can literally hear your
            critical machine's problems. We can alert you of developing faults to help you prevent unwanted downtime in
            your facility.</p>
        <p>All this we do <strong>non-invasively : no required shutdown and no machine contact</strong> ensuring minimal
            distrubance & risk to your operation.</p>
        <button class='ow-button button-yellow text-black' type='button'>READY TO HEAR MORE?</button>
    </div>
</section>

<!-- PROBLEM -->
<section>
    <div class='container bg-yellow pad-around-lg card'>
        <div class='row'>
            <div class='col-md-5 text-right'>
                <h1>LISTEN UP.</h1>
                <div class='ow-line bg-white right'></div>
                <h3>The industry is at the verge of the fourth industrial revolution. Industry 4.0 and AI will make the
                    industries of tomorrow.</h3>
            </div>
            <div class='col-md-7'>
                <h3>MACHINES BREAK</h3>
                <p>Industries rely heavily on machines to perform their functions. Unfortunately, they break, and when
                    they do it can be very expensive</p>
            </div>
        </div>
    </div>
</section>

<!-- SOLUTION -->
<section>
    <div class='container text-center'>
        <h1>WE'LL LEND YOU OUR E.A.R.S.</h1>
        <div class='ow-line bg-yellow center'></div>
        <p>Our EARS is trained to listen to you machineries' acoustic emissions and understand them.
        </p>
        <p>Imagine a trained specialist, trained for decades to listen for motor issues, always
            standing by your motors, never getting tired, & continually improving.</p>
        <h3>Now imagine that specialist as a bright yellow 5-inch sensor.</h3>
        <div> [ Image of EARS ]</div>
        <div class='row'>
            <div class='col-4'>
                <div class='card'>
                    CARD 1
                </div>
            </div>
            <div class='col-4'>
                <div class='card'>
                    CARD 2
                </div>
            </div>
            <div class='col-4'>
                <div class='card'>
                    CARD 3
                </div>
            </div>
        </div>
        <button class='ow-button button-yellow text-black'>HEAR MORE</button>
    </div>
</section>

<!-- COMPANY -->
<section>
    <div class='container bg-black pad-around-lg'>
        <div class='row'>
            <div class='col-md-7 text-right text-white'>
                <p>We have one obsession: making sure things work the way they should, and we'd liek to share this
                    obsession with you. </p>
                <p>OneWatt is committed in solving problems in the industrial sector; We believe that Artificial
                    Intelligence (A.I.) can do just that. </p>
            </div>
            <div class='col-md-5 text-left'>
                <h1 class='text-yellow'>WHO WE ARE</h1>
                <div class='ow-line bg-white left'>
                </div>
                <button class='ow-button button-yellow text-black'>GET TO KNOW US</button>
            </div>
        </div>
    </div>
</section>

<!-- UPDATES -->
<section>
    <div class='container'>
        <div class='row'>
            <div class='col-md-5 text-right'>
                <h1>WHAT'S THAT SOUND</h1>
                <div class='ow-line bg-yellow right'>
                </div>
                <h3>Keep up to date with OneWatt and see what we are building to solve the industries problems.</h3>
                <button class='ow-button button-yellow text-black'>SEE ALL UPDATES</button>
            </div>
        </div>
    </div>
</section>

<!-- partners -->
<section>
    <div id='partners' class='container text-center card pad-around-lg'>
        <h1>OUR PARTNERS</h1>
        <div class='ow-line bg-yellow center'>
        </div>
        <div class='row justify-content-center'>
            <div class='col-md-3'>
                <div class='card'>
                    Partner 1
                </div>
            </div>
            <div class='col-md-3'>
                <div class='card'>
                    Partner 1
                </div>
            </div>
            <div class='col-md-3'>
                <div class='card'>
                    Partner 1
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Us -->
<section class='bg-yellow'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-4'>
                <h1 class='text-right'>GET IN TOUCH</h1>
                <div class='ow-line bg-white right'></div>
                <h3 class='text-white text-right'>If you'd like to get in touch with use, use the form in the right or simply email us directly at <span class='text-darkgrey'>hi@onewatt.eu</span></h3>
            </div>
            <div class='col-md-8'>
                <form id='contact'>
                    <label for='name'>NAME</label>
                    <input class='w-100' id='name' type='text' placeholder="Name" name='name' [(ngModel)]='contact.name' />
                    <label for='email'>EMAIL</label>
                    <input class='w-100' id='email' type='email' placeholder="Email" name='email' [(ngModel)]='contact.email' />
                    <label for='subject'>SUBJECT</label>
                    <input class='w-100' id='subject' type='text' placeholder="Subject" name='subject' [(ngModel)]='contact.subject' />
                    <label for='message'>MESSAGE</label>
                    <textarea class='w-100' id='message' placeholder="Your Message" name='message' [(ngModel)]='contact.message'></textarea>
                    <button class='ow-button bg-black text-white w-100'>SEND MESSAGE</button>
                </form>
            </div>
        </div>
    </div>
</section>